// SERVICES FILE TABLET

@media (orientation: portrait ),(min-width:600px){
    #services{
       
header{
          
row-gap: 20vh;
          
  nav > h2 > a {
font-size:32px;
  }
          
  nav > details > ul  {
width: 20%;
  }
}
main{
  height: 150vh;
  
  blockquote {
    width: 70%;
    text-align: center;
   
  }
 
}

@media (orientation: landscape) {
  
  header {
    height: 90vh;
  }

  main {
    height: 190vh;
  }
  footer{
    height: 220vh;
  }
}
          
}
}