// TABLET INDEX FILE

@media (min-width: 600px){
#index{

  header{
    height: 120vh;
    row-gap: 20vh;
  
      nav > h2 > a {
        font-size:32px;
      }
  
      nav > details > ul  {
        width: 30%;
      }
    }

    // SOFTWASH SECTION
.softwash {
  height: 100vh;
}

.overlay {
  height: 100vh;
}
    footer{
        height:60vh;
        display: flex;
        flex-direction: column;
        row-gap: 13vh;
        
        .firstfooter { 
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-content: center;
        column-gap: 7vh;
        align-items: baseline;
        margin-top: 4vh;
        
    
        article:nth-child(4){
          width: 17%;
          
          > aside {
            display: flex;
            column-gap: 3vh;
          }
        }
      }
      }
}

}