// TABLET INDEX FILE

@media (orientation: portrait ),(min-width: 600px){
#index{

  header{
    height: 120vh;
    row-gap: 20vh;
  
      nav > h2 > a {
        font-size:32px;
      }
  
      nav > details > ul  {
        width: 30%;
      }
    }

    // SOFTWASH SECTION
.softwash {
  height: 110vh;
 
}


.softwash { 
.overlay {
  height: 110vh;
  row-gap: 5vh;
}
}

.slideshow {
  height: 135vh;
}

.services {
  height: 120vh;
  row-gap: 5vh;
  h1 {
    padding-top: 1vh;
  }
}
footer {
  padding-top: 3vh;
  height: 135vh;
  .firstfooter {
    @include displayFlex
  }


article:nth-child(4){
  width: 17%;
  
  > aside {
    display: flex;
    column-gap: 3vh;
  }
}
  
}

@media (orientation:landscape){ 
  header {
    height: 150vh;
  }
  .softwash {
    height: 130vh;
  }
  .overlay {
    height: 130vh;
  }
  .slideshow {
    height: 200vh;
  }
  .services {
    height: 170vh;
  }
  footer{
    height: 220vh;
  }
}

}

}