// CONTACT TABLET VERSION

@media (orientation: portrait ),(min-width: 600px){

#contactform {  
    header{

        row-gap: 20vh;
      
          nav > h2 > a {
            font-size:32px;
          }
      
          nav > details > ul  {
            width: 20%;
          }
        }
        footer {
          padding-top: 3vh;
          height: 135vh;
          .firstfooter {
            @include displayFlex
          }
        
        
        article:nth-child(4){
          width: 17%;
          
          > aside {
            display: flex;
            column-gap: 3vh;
          }
        }
          
        }
@media (orientation:landscape){
header {
height: 90vh;
}
        
footer {
height: 220vh;
}
}

}

}