// TABLET ABOUTUS FILE

@media (min-width: 600px){
#aboutus{
header{

        row-gap: 20vh;
      
          nav > h2 > a {
            font-size:32px;
          }
      
          nav > details > ul  {
            width: 20%;
          }
        }
}
}