// TABLET ABOUTUS FILE

@media (orientation: portrait ),(min-width: 600px){
#aboutus{
header{

        row-gap: 20vh;
      
          nav > h2 > a {
            font-size:32px;
          }
      
          nav > details > ul  {
            width: 20%;
          }
        }
  .ourservices {
    row-gap: 7vh;

    article > p {
      width: 80%;
    }
  }
  footer {
    padding-top: 3vh;
    height: 135vh;
    .firstfooter {
      @include displayFlex
    }
  
  
  article:nth-child(4){
    width: 17%;
    
    > aside {
      display: flex;
      column-gap: 3vh;
    }
  }
    
  }
@media (orientation: landscape) {
  
  header {
    height: 90vh;
  }

  main {
    height: 160vh;
    align-items: center;
    display: flex;
  }
  
  footer {
    height: 220vh;
  }
}
}
}