// MOBILE GALLERY FILE

@media (min-width: 200px) {
#ourgallery{ 
body{
  background-color:#eef2e2;
}

header {
        background-image: url(/images/bgheader1.jpg);
        background-position-y: 40%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        padding: 2vh;
        display: flex;
        flex-direction: column;
        row-gap: 30vh;
        border-radius: 0px 0px 20px 20px;
    
        article {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 10vh;
        }
        
        h2 {
          a { 
          @include h2header
        }
        }
      h1 {
        @include h1header
      }
    
      nav {
          display: flex;
          justify-content: space-between;
          
        li {
          list-style-type: none;
          background-color: rgba(0, 0, 255, 0.08);
          border-bottom: 0.5px solid white;
          padding-top: 5px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          a { 
          text-decoration: none;
          color: beige;
          padding: 1%;
          font-size: 20px;
          width: 100%;
        }
        }
          > ul {
              display: none;
          }
        summary {
          color: beige;
          font-size: 23px;
          padding-top: 1vh;
        }
        }
      }

    details { 

        summary::-webkit-details-marker {
            display:none;
        }
         
        > ul {
          display: flex;
          flex-direction: column;
          position: absolute;
          border: .1px solid beige;
          border-radius: 5px;
          width: 40%;
          animation: fadeIn 1s;
          top: 9vh;
          right: 2vh;
        }
        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }

    // GALLERY SECTION MOBILE

    main{

      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 8vh;
      height: 170vh;

  
      p{
        width: 85%;
        padding-top: 5vh;
        text-align: center;
        font-weight: 700;
      }
  
      .container{
        
        width: 100%;
        .images .imgBx img {
          width: 100%;
          height: 100%;
        }
         position: relative;
         min-height: 100vh;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         
      
         .images{
          margin: 10px;
          padding: 10px;
      
      
          .imgBx {
            height: 160px;
            width: 210px;
            border: 4px solid #7777778b;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.299);
            overflow: hidden;
            cursor: pointer;
          }
         }
      
        .popup{
          position: fixed;
          top: 0;
          left: 0;
          background:rgba(0, 0, 0, 0.886);
          height: 100%;
          width: 100%;
          z-index: 100;
          display: none;
      
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border: 5px solid  #fff;
            border-radius: 5px;
            width: 95%;
            height: 60%;
            object-fit: cover;
          }
          span {
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 60px;
            font-weight: bolder;
            color: #fff;
            cursor: pointer;
            z-index: 100;
          }
        }
        }
    }
    

        
  
 
    //   FOOTER SECTION MOBILE

      footer {
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
        height: 160vh;
        align-items: center;
        justify-content: center;
        
        
        h3 {
          font-size: 22px;
          font-weight: 200;
        }
        
        article {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          row-gap: 3vh;
          ul{
            li {
              list-style-type: none;
              line-height: 25px;
              a {
                color: white;
              }
            }
          }
        }
        .firstfooter > article > h3 {
          font-size: 21px;
          font-weight: 200;
          color: #ffcf40 ;
          text-decoration: underline;
        }
        span {
          color:#53a8b6 ;
          text-decoration: underline;
          font-size: 17px;
        }
        .instaP {
          color: rgba(255, 255, 255, 0.301);
          width: 80%;
          padding-bottom: 1vh;
        }

      

        .instagram {
          font-size: 40px;
        }
        .facebook {
          font-size: 40px;
          color: blue;
        }
      .firstfooter {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
       
      .firstfooter > article:nth-child(4){
        display: flex;
        align-items: center;
        width: 60%;
        div > a {
          color: blue;
          font-size: 40px;
        }
      }

      .mylinks {
        display: flex;
        column-gap: 1vh;
        line-height: 35px;
        i {
          font-size: 25px;
          color: blue;
        }
      } 
      
      .secondfooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 5vh;
        color:  rgba(255, 255, 255, 0.301);
        
          
      }
      }

 }
}
